.top {
  // .top__body
  &__body {
    display: flex;
    justify-content: center;
    gap: rem(6);
    @media (max-width: $tablet) {
      flex-direction: column-reverse;
    }
  }
  // .top__content
  &__content {
    flex: 0 1 rem(550);
    @include adaptiv-value("padding-left", 35, 20, 1);
    padding-top: rem(47);
    @media (max-width: $tablet) {
      flex: auto;
      padding-right: rem(20);
      padding-top: 0;
    }
  }
  // .top__title
  &__title {
    &:not(:last-child) {
      margin-bottom: em(24, 40);
    }
  }
  // .top__text
  &__text {
    @include adaptiv-value("font-size", 16, 15, 1);
    letter-spacing: em(-0.16, 16);
    color: $blueNavy;
    &:not(:last-child) {
      margin-bottom: em(24, 16);
    }
  }
  // .top__btn
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: rem(218);
    min-height: rem(58);
    @include adaptiv-value("font-size", 15, 14, 1);
    background-color: $blueNavy;
    color: $baseWhite;
    text-transform: uppercase;
    padding: rem(10);
    @media (max-width: $mobileSmall) {
      max-width: 100%;
    }
  }
  // .top__images
  &__images {
  }
  // .top__images-ibg
  &__images-ibg {
    flex: 0 1 rem(864);
    @include adaptiv-value("padding-bottom", 500, 260, 1);
    @media (max-width: $tablet) {
      flex: auto;
    }
  }
}
//================================

.info {
  // .info__container
  &__container {
  }
  // .info__body
  &__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(24);
    @media (max-width: $tablet) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: $mobile) {
      grid-template-columns: 1fr;
    }
  }
  // .info__column
  &__column {
    background-color: $seasalt;
  }
  // .info__top
  &__top {
  }
  // .info__img
  &__img {
  }
  // .info__title
  &__title {
  }
  // .info__accordion
  &__accordion {
  }
}
//================================

.news {
  // .news__container
  &__container {
  }
  // .news__top
  &__top {
  }
  // .news__body
  &__body {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .news__inner
  &__inner {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .news__left
  &__left {
    padding-right: rem(30);
    @media (max-width: $mobile) {
      padding-right: 0;
      padding-bottom: rem(24);
      border-bottom: rem(1) solid rgba(0, 45, 77, 0.1);
    }
  }
  // .news__item
  &__item {
  }
  // .news__tags
  &__tags {
    display: flex;
    align-items: center;
    gap: rem(12);
    @include adaptiv-value("font-size", 16, 15, 1);
    letter-spacing: em(-0.16, 16);
  }
  // .news__date
  &__date {
    color: $grey;
    margin-right: auto;
  }
  // .news__tags-link
  &__tags-link {
    color: $blue;
  }
  // .news__right
  &__right {
    display: flex;
    flex-direction: column;
    gap: rem(32);
    padding: 0 rem(30);
    border-left: rem(1) solid rgba(0, 45, 77, 0.1);
    border-right: rem(1) solid rgba(0, 45, 77, 0.1);
    @media (max-width: em(1200)) {
      border-right: none;
      padding-right: 0;
    }
    @media (max-width: $mobile) {
      border-left: none;
      padding-left: 0;
      padding-top: rem(24);
      gap: 0;
    }
  }
  // .news__images-ibg
  &__images-ibg {
    display: block;
    @include adaptiv-value("width", 348, 250, 1);
    padding-bottom: rem(180);
    @media (max-width: $mobile) {
      max-width: rem(335);
      width: 100%;
      margin: 0 auto;
    }
  }
  // .news__content
  &__content {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    h3 {
      @include adaptiv-value("font-size", 20, 18, 1);
      font-weight: 500;
      line-height: 140%;
      letter-spacing: em(-0.4, 20);
    }
  }
  // .news__feed
  &__feed {
    padding-left: rem(30);
    @media (max-width: em(1200)) {
      display: none;
    }
  }
}
.item-news {
  display: flex;
  flex-direction: column;
  @include adaptiv-value("gap", 32, 24, 1);
  // .item-news__images-ibg
  &__images-ibg {
    display: block;
    width: 100%;
    @include adaptiv-value("padding-bottom", 400, 240, 1);
    overflow: hidden;
    &::before,
    &::after {
      content: "";
      position: absolute;
      @include adaptiv-value("width", 130, 100, 1);
      @include adaptiv-value("height", 130, 100, 1);
      background-image: url(../img/news/circle.svg);
      z-index: 2;
    }
    &::after {
      top: rem(-70);
      right: rem(-70);
      @media (max-width: $mobile) {
        top: rem(-54);
        right: rem(-54);
      }
    }
    &::before {
      left: rem(-43);
      bottom: rem(-38);
    }
  }
  // .item-news__content
  &__content {
    h3 {
      @include adaptiv-value("font-size", 26, 20, 1);
      font-weight: 700;
      line-height: 140%;
      letter-spacing: em(-0.52, 26);
      @include adaptiv-value("margin-bottom", 16, 12, 1);
    }
    p {
      @include adaptiv-value("font-size", 16, 15, 1);
      letter-spacing: em(-0.16, 16);
      @include adaptiv-value("margin-bottom", 32, 24, 1);
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
  &_litle {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    @media (max-width: $mobile) {
      padding-bottom: rem(24);
      padding-top: rem(24);
      border-bottom: rem(1) solid rgba(0, 45, 77, 0.1);
      &:first-child {
        padding-top: 0;
      }
      &:last-child {
        border-bottom: none;
      }
    }
  }
}
.news-feed-grid {
  // .news-feed-grid__item
  &__item {
    padding: rem(32) 0;
    border-bottom: rem(1) solid rgba(0, 45, 77, 0.1);
    &:first-child {
      padding-top: rem(24);
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
.news-feed {
  // .news-feed__item
  &__item {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    h3 {
      font-size: rem(20);
      font-weight: 500;
      line-height: 140%;
      letter-spacing: em(-0.4, 20);
    }
  }

  // .news-feed__date
  &__date {
    color: $grey;
    letter-spacing: em(-0.16, 16);
  }
}
//================================
.events {
  background-color: $lightNavy;
  // .events__container
  &__container {
  }
  // .events__top
  &__top {
  }
  // .events__item
  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    @include adaptiv-value("gap", 64, 40, 1);
    @include adaptiv-value("padding-top", 32, 20, 1);
    @include adaptiv-value("padding-right", 32, 20, 1);
    @include adaptiv-value("padding-bottom", 24, 16, 1);
    @include adaptiv-value("padding-left", 32, 20, 1);
    background-color: $baseWhite;
    overflow: hidden;
    &::before {
      content: "";
      position: absolute;
      @include adaptiv-value("width", 180, 150, 1);
      @include adaptiv-value("height", 180, 150, 1);
      background-image: url(../img/events-circle.svg);
      z-index: 2;
      right: rem(-33);
      bottom: rem(-60);
    }
  }
}
.events-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiv-value("gap", 30, 24, 1);
  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $mobile) {
    margin-bottom: rem(24);
  }
  @media (max-width: em(600)) {
    grid-template-columns: 1fr;
  }
  // .events-grid__item
  &__item {
  }
}
.item-events {
  // .item-events__top
  &__top {
    display: flex;
    flex-direction: column;
    gap: rem(16);
  }
  // .item-events__location
  &__location {
    display: flex;
    align-items: center;
    @include adaptiv-value("font-size", 16, 15, 1);
    letter-spacing: em(-0.16, 16);
    color: $blue;
    &::before {
      color: $blue;
      margin-right: rem(8);
    }
  }
  // .item-events__title
  &__title {
    @include adaptiv-value("font-size", 26, 20, 1);
    font-weight: 700;
    line-height: 140%;
    letter-spacing: em(-0.52, 26);
  }
  // .item-events__address
  &__address {
    @include adaptiv-value("font-size", 16, 15, 1);
    letter-spacing: em(-0.16, 16);
    color: #60656c;
  }
  // .item-events__bottom
  &__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: auto;
  }
  // .item-events__date
  &__date {
    @include adaptiv-value("font-size", 20, 18, 1);
    font-weight: 500;
    line-height: 140%;
    letter-spacing: em(-0.4, 20);
    color: $blueNavy;
    span {
      @include adaptiv-value("font-size", 64, 46, 1);
      font-weight: 700;
      line-height: 120%;
      letter-spacing: em(-1.28, 64);
      color: $blueNavy;
      padding-right: rem(6);
    }
  }
  // .item-events__time
  &__time {
    @include adaptiv-value("font-size", 20, 18, 1);
    font-weight: 500;
    line-height: 140%;
    letter-spacing: em(-0.4, 20);
    color: $blue;
  }
}
//================================
.initiatives {
  // .initiatives__container

  &__container {
  }

  // .initiatives__body

  &__body {
  }

  // .initiatives__title

  &__title {
    font-family: UkraineHead;
    @include adaptiv-value("font-size", 40, 24, 1);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: em(-0.8, 40);
    text-align: center;
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 32, 24, 1);
    }
  }

  // .initiatives__slider

  &__slider {
    position: relative;
    @media (min-width: em(1400)) {
      max-width: rem(1200);
      margin: 0 auto;
    }
    @media (max-width: $mobile) {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(24);
      margin-bottom: rem(24);
    }
  }
}
.slider-initiatives {
  // .slider-initiatives__item

  &__item {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    border: 1px solid rgba(0, 45, 77, 0.1);
  }

  // .slider-initiatives__images-ibg

  &__images {
    position: relative;
    display: block;
  }
  &__img {
    width: 100%;
  }
  &__logo {
    position: absolute;
    @include adaptiv-value("padding-left", 24, 20, 1);
    @include adaptiv-value("height", 84, 64, 1);
    left: 0;
    bottom: rem(-38);
  }
  // .slider-initiatives__content

  &__content {
    display: grid;
    gap: rem(16);
    height: auto;
    @include adaptiv-value("padding-top", 65, 42, 1);
    @include adaptiv-value("padding-left", 40, 20, 1);
    @include adaptiv-value("padding-right", 40, 20, 1);
    @include adaptiv-value("padding-bottom", 40, 20, 1);
    h3 {
      display: block;
      font-size: 26px;
      @include adaptiv-value("font-size", 26, 20, 1);
      font-weight: 700;
      line-height: 140%;
      letter-spacing: em(-0.52, 26);
    }
    p {
      @include adaptiv-value("font-size", 16, 15, 1);
      letter-spacing: em(-0.16, 16);
    }
  }
  &__link {
    color: $blue;
    @include adaptiv-value("font-size", 16, 15, 1);
    letter-spacing: em(-0.16, 16);
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    max-width: rem(261);
    width: 100%;
    height: rem(58);
    @include adaptiv-value("font-size", 15, 14, 1);
    text-transform: uppercase;
    color: $baseWhite;
    background-color: $blueNavy;
    margin-top: auto;
    @media (max-width: $mobileSmall) {
      margin: 0 auto;
    }
    &::before {
      margin-left: rem(12);
      color: $baseWhite;
      transform: rotate(-45deg);
    }
  }
}
.slider-initiatives-item {
  height: 100%;
}
@media (max-width: $mobile) {
  .slider-initiatives-item:nth-child(n + 3) {
    display: none;
  }
  .slider-initiatives-item.is-visible {
    display: block;
  }
}

//=================================
.projects {
  // .projects__container
  &__container {
  }
  // .projects__item
  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: rem(1) solid rgba(0, 45, 77, 0.1);
  }
}
.events {
  // .events__top
  &__top {
  }
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiv-value("gap", 30, 24, 1);
  @media (max-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: $mobile) {
    margin-bottom: rem(24);
  }
  @media (max-width: em(650)) {
    grid-template-columns: 1fr;
  }
  // .projects-grid__item
  &__item {
  }
}
.item-projects {
  // .item-projects__images-ibg
  &__images-ibg {
    width: 100%;
    @include adaptiv-value("padding-bottom", 260, 200, 1);
  }
  // .item-projects__content
  &__content {
    display: grid;
    height: 100%;
    @include adaptiv-value("gap", 16, 12, 1);
    @include adaptiv-value("padding-top", 32, 20, 1);
    @include adaptiv-value("padding-right", 32, 20, 1);
    @include adaptiv-value("padding-bottom", 32, 20, 1);
    @include adaptiv-value("padding-left", 32, 20, 1);
  }
  // .item-projects__tags
  &__tags {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(10);
  }
  // .item-projects__tag
  &__tag {
  }
  // .item-projects__date
  &__date {
    @include adaptiv-value("font-size", 16, 15, 1);
    color: $grey;
    letter-spacing: em(-0.16, 16);
  }
  // .item-projects__title
  &__title {
    @include adaptiv-value("font-size", 22, 18, 1);
    font-weight: 700;
    line-height: 140%;
    letter-spacing: em(-0.44, 22);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  // .item-projects__text
  &__text {
    @include adaptiv-value("font-size", 16, 15, 1);
    letter-spacing: em(-0.16, 16);
    line-height: 170%;
    @include adaptiv-value("margin-bottom", 16, 12, 1);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  // .item-projects__btn
  &__btn {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border: 1px solid $blueNavy;
    height: rem(58);
    padding: 0 rem (10);
    @include adaptiv-value("font-size", 15, 14, 1);
    font-weight: 400;
    color: $blueNavy;
    text-transform: uppercase;
    margin-top: auto;
    &::before {
      color: $blueNavy;
      margin-left: rem(12);
    }
  }
}
//=================================
.edition {
  // .edition__container
  &__container {
  }
  // .edition__top
  &__top {
  }
  // .edition__item
  &__item {
    display: flex;
    border: rem(1) solid rgba(0, 45, 77, 0.1);
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
}
.edition-grid {
  display: grid;
  grid-template-columns: 1fr;
  @include adaptiv-value("row-gap", 30, 24, 1);
  @media (max-width: $mobile) {
    margin-bottom: rem(24);
  }
  // .edition-grid__item
  &__item {
  }
}
.item-edition {
  // .item-edition__inner
  &__inner {
    position: relative;
    flex: 0 1 rem(560);
    background-color: $seasalt;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    @media (max-width: $mobile) {
      flex: 1;
      padding: rem(34) 0;
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
      @include adaptiv-value("width", 130, 100, 1);
      @include adaptiv-value("height", 130, 100, 1);
      background-image: url(../img/edition/edition-circle.svg);
      z-index: 5;
    }
    &::after {
      top: rem(-70);
      right: rem(-70);
      @media (max-width: $mobile) {
        top: rem(-55);
        right: rem(-55);
      }
    }
    &::before {
      left: rem(-70);
      bottom: rem(-70);
      @media (max-width: $mobile) {
        left: rem(-55);
        bottom: rem(-55);
      }
    }
  }
  // .item-edition__back
  &__back {
    display: flex;
    align-items: center;
    justify-content: center;
    @include adaptiv-value("width", 260, 170, 1);
    @include adaptiv-value("height", 260, 170, 1);
    border-radius: rem(6);
    background-color: rgba(0, 45, 77, 0.1);
  }
  // .item-edition__images
  &__images {
    img {
      @include adaptiv-value("width", 205, 135, 1);
      @include adaptiv-value("height", 290, 190, 1);
      border-radius: rem(6);
      border: rem(1) solid rgba(0, 45, 77, 0.1);
    }
  }
  // .item-edition__content
  &__content {
    flex: 0 1 rem(820);
    @include adaptiv-value("padding-top", 48, 24, 1);
    @include adaptiv-value("padding-right", 56, 20, 1);
    @include adaptiv-value("padding-bottom", 48, 20, 1);
    @include adaptiv-value("padding-left", 56, 20, 1);
    @media (max-width: $mobile) {
      flex: 1;
    }
  }
  // .item-edition__tag
  &__tag {
    display: inline-block;
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 16, 12, 1);
    }
  }
  // .item-edition__title
  &__title {
    @include adaptiv-value("font-size", 22, 18, 1);
    font-weight: 700;
    line-height: 140%;
    letter-spacing: em(-0.44, 22);
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 16, 12, 1);
    }
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    @media (max-width: $mobile) {
      -webkit-line-clamp: 3;
    }
  }
  // .item-edition__text
  &__text {
    @include adaptiv-value("font-size", 16, 15, 1);
    letter-spacing: em(-0.16, 16);
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 32, 24, 1);
    }
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  // .item-edition__buttons
  &__buttons {
    @include adaptiv-value("font-size", 15, 14, 1);
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    @include adaptiv-value("gap", 16, 12, 1);
    @media (max-width: $mobileSmall) {
      flex-direction: column;
    }
  }
  // .item-edition__btn
  &__btn {
    width: 100%;
    height: rem(58);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: $blueNavy;
    color: $baseWhite;
    &::before {
      margin-left: rem(12);
    }
  }
  // .item-edition__download
  &__download {
    width: 100%;
    height: rem(58);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    border: rem(1) solid $blueNavy;
    color: $blueNavy;
    &::before {
      margin-left: rem(12);
      color: $blueNavy;
    }
  }
}
//=================================
.partners {
  background-color: $lightNavy;
  // .partners__container
  &__container {
  }
  // .partners__body
  &__body {
  }
  // .partners__title
  &__title {
    font-family: UkraineHead;
    @include adaptiv-value("font-size", 40, 24, 1);
    font-weight: 700;
    line-height: 120%;
    letter-spacing: em(-0.8, 40);
    color: $blueNavy;
    text-align: center;
    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 32, 24, 1);
    }
  }
  // .partners__slider
  &__slider {
    position: relative;

    @media (min-width: em(1400)) {
      max-width: rem(1200);
      margin: 0 auto;
    }
    @media (max-width: $mobileSmall) {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem(24);
      &:not(:last-child) {
        margin-bottom: rem(24);
      }
    }
  }
}
.slider-partners {
  // .slider-partners__item
  &__item {
    display: flex !important;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    @include adaptiv-value("gap", 24, 20, 1);
    @include adaptiv-value("padding-top", 32, 24, 1);
    @include adaptiv-value("padding-right", 24, 20, 1);
    @include adaptiv-value("padding-bottom", 32, 24, 1);
    @include adaptiv-value("padding-left", 24, 20, 1);
    background-color: $baseWhite;
    @media (max-width: $mobileSmall) {
      min-height: rem(287);
      justify-content: center;
      gap: rem(60);
    }
  }
  // .slider-partners__images
  &__images {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .slider-partners__img
  &__img {
    width: 100%;
  }
  // .slider-partners__content
  &__content {
    display: grid;
    gap: rem(16);

    h3 {
      @include adaptiv-value("font-size", 16, 15, 1);
      letter-spacing: em(-0.16, 16);
      text-align: center;
    }
  }
  // .slider-partners__link
  &__link {
    display: inline-block;
    @include adaptiv-value("font-size", 16, 15, 1);
    letter-spacing: em(-0.16, 16);
    text-align: center;
    color: $blue;
    text-decoration: underline;
  }
}
.slider-partners-item {
  height: 100%;
}
@media (max-width: $mobileSmall) {
  .slider-partners-item:nth-child(n + 4) {
    display: none;
  }
  .slider-partners-item.is-visible {
    display: block;
  }
}
